<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.blankedv.lanbahnpanel"
    android:exported="true"
    android:versionCode="17"
    android:versionName="2.2.0 - 25 Jun 2018">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".LanbahnPanelApplication"
        android:allowBackup="true"
        android:icon="@drawable/andropanel"
        android:label="@string/app_name"
        android:noHistory="true">
        <activity
            android:name=".LanbahnPanelActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.lanbahn.net" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.preferences" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.about" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".LoconetService"
            android:enabled="true"
            android:exported="true">

        </service>
    </application>

</manifest>